*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    
}
body{
    display: flex;
    flex-direction: column;
    background: rgb(43,47,108);
    background: linear-gradient(90deg, 
    rgba(43,47,108,1) 1%, 
    rgba(126,58,161,0.969625350140056) 25%, 
    rgba(238, 29, 151, 0.788) 40%, 
    rgba(70,55,148,1) 60%, 
    rgba(69,59,134,0.9528186274509804) 80%, 
    rgba(105,158,188,1) 100%);
    
    /* background: linear-gradient(90deg,
    rgba(43,47,108,1) 1%, 
    #FC466B 30%,
    rgb(127, 58, 161) 70%,
    #3F5EFB 100%); */

    /* background: linear-gradient(90deg, 
    rgba(43,47,108,1) 6%,
    rgba(126,58,161,1) 25%,
    rgba(252,70,107,1) 41%,
    rgba(79,56,136,1) 57%, 
    rgba(69,59,134,0.9528186274509804) 75%,
    rgba(129,201,241,1) 97%); */
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10rem 10px 8rem;
    align-items: center;
    text-shadow: 5px 5px 8px black;
}
header img{
    width:9rem;
}
header nav{
    background-color: #210FF0;
    border: 1px solid #F4A812;
    border-radius: 45px;
    padding: 5px;
}
header nav ul{
    background-image: url(./img/background-nav.png);
    background-size: 100%;
    padding: 15px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
header nav ul li{
    margin: 0 20px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}
.section-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 100%;
}
.section-1 h1{
    margin: 0 50px;
    padding: 0 auto;
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px 8px black;
}
.section-1 img{
    width:50%;
    border-radius: 20px;
    margin: 0 2rem;
    box-shadow: 10px 5px 5px black;
}
.section-2{
    box-sizing: border-box;
    margin-top: 40px;
    background-image: url(./img/footer.png);
    background-size:100%;
    background-repeat: no-repeat;
    

}
.section-2 nav{
    padding: 2rem auto;
}
.section-2 nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.section-2 nav ul li{
    margin: 0 20px;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-2 nav ul li a{
    text-decoration: none;
    color: white;
}
.section-2 nav ul li img{
    width: 60%;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    /* text-shadow: 1px 1px 2px rgb(155, 155, 155); */
    text-align: center;
    background-color: rgb(0, 0, 0);
 
}
footer div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer div a{
    padding: 1rem;
    text-decoration: none;
    color: white;
}

footer p{
    color: white;
}

/* --------------------------MEDIA-------------------------- */
@media (max-width: 780px) {
    header{
        flex-direction: column;
        padding:1rem 0 2rem 0;
    }
    header img{
        width:9rem;
    }    
    .section-1{
        flex-direction: column;
    }
    .section-1 h1{
        margin: 10px 50px;
        padding: 10px 2rem;
        font-size: 30px;
    }
    .section-1 img{
        width:60%;
        margin-bottom: 1rem;
    }
    .section-2{
        background-image: none;    
    }
    .section-2 nav ul{
        flex-wrap: wrap;
        padding: 0 2rem;   
        justify-content: center;
    }
    .section-2 nav ul li{
        flex-direction: column;
        padding: 0 10px;
        width: 40%;
    }
}
@media (max-width: 604px) {
    body{
        background: linear-gradient(90deg, 
        rgba(126,58,161,1) 0%,
        rgba(252,70,107,1) 30%,
        rgba(79,56,136,1) 60%, 
        rgba(129,201,241,1) 100%);
    }    
    .section-1 h1{
        font-size: 1.5rem;
        text-align: center;
        text-shadow: 5px 5px 8px black;
    }

}
@media (max-width: 480px) {
    body{
        justify-content: center;
        background-image: url(./img/movilback.jpg);
    }    
    .section-2 nav ul{
        flex-wrap: wrap;
        padding: 0 1rem;   
        justify-content: center;
    }
    .section-2 nav ul li{
        flex-direction: column;
        padding: 0 1rem;
        width: 30%;
    }

}